<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-dark vh-100">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mr-3">
          <a href="{{ url_for('home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span style="font-size: 40px; padding: 20px 0px 40px 13px;">CineMate</span>
          </a>
        </li>      
        <li class="nav-item">
          <a href="{{ url_for('home') }}" class="nav-link">
            My movies
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('recommended_movies') }}" class="nav-link ">
            Recommended
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('search') }}" class="nav-link">
            Search
          </a>
        </li>
      </ul>
      <!-- Logout Button -->
      <div class="mb-3">
        <a href="{{ url_for('logout') }}" class="btn">
          Logout
        </a>
      </div>
    </div>
    
    <!-- Main Content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}
            {% endblock %}
          </main>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
